<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">WeddingPlanner</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Weddings" asp-action="DisplayDashboard">Dashboard</a></li>
            </ul>
            <div class="nav navbar-nav pull-right">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Logout</a></li>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>@ViewBag.Wed.wedderone and @ViewBag.Wed.weddertwo's  Wedding</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Date: @ViewBag.Wed.date.ToString("MMMM dd, yyyy")</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Guests:</h3>
        </div>
    </div>
    @foreach(var guest in @ViewBag.Guests)
    {
        <div class-"row">
            <div class="col">
                <h4>@guest.User.firstname @guest.User.lastname</h4>
            </div>
        </div>
    }
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCLzC_v6DaZMiInBKOZNvII3Zz2LRUlKqg&q=@ViewBag.Wed.address" allowfullscreen>
            </iframe>
        </div>
    </div>
</div>